# Dependencies
node_modules/
.pnpm-store/
/.pnp
.pnp.js

# Build outputs
.next/
out/
dist/
build/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
coverage/
.nyc_output/

# Turbo
.turbo/

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Uploads (dev local storage)
apps/web/public/uploads/

# Misc
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
